
<div class="sub-container-outer">
    <a href="" data-toggle="modal" data-target="#modal-js" onclick="focusModal(null, 33, 1200)">
        <div class="row">
            <h3>Javascript Exercises</h3>
            <div class="col-sm-5">
                <div class="col-sm-12 col-sm-offset-1 col-md-11">
                    <img src="/assets/img/javascript-expanded.png" class="img-responsive img-rounded center-block" alt="image" width="360" />
                </div>
                &nbsp;
            </div>
            <div class="col-sm-7">
                <div class="sub-container-inner" style="margin-top:0;">
                    <p>
                        Multiple small Javascript exercises, all with source code and simple interfaces.
                        The exercises include multiple examples of complex logic expressions,
                        looping constructs, string and number manipulation,
                        creative use of anonymous objects and functions,
                        extensive use of the JQuery and Javascript libraries,
                        and even one particularly interesting use of Infinity.
                        There are only four exercises, so it won't cost too much time to check them all out!
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>