@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@using PersonalWebsite.Models;

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "", returnUrl = HttpContext.Current.Request.RawUrl }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    @this.ExternalUserData(User.Identity, (c) => !c.Type.StartsWith("http") && c.Type.EndsWith("name"))
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })</li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
            <li>
                @{
                    ViewBag.ImageProperties = "width=30";
                    // MVC is horrible at times; without this explicit clearing of the model, it will try to pass the view model to '_UserAvatarPartial', without any typechecking
                    Html.RenderPartial("_UserAvatarPartial", null, new ViewDataDictionary(ViewData) { Model = null });
                }
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" id="userDropDown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In <strong class="caret"></strong></a>
            <div class="dropdown-menu" id="userMenu" style="padding: 15px; padding-bottom: 0px;  width: 350px;">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="" data-target="#login" data-toggle="tab" aria-expanded="true" onclick="return false;">Log In</a></li>
                    <li class=""><a href="" data-target="#externalLogin" data-toggle="tab" aria-expanded="false" onclick="return false;">External Log In</a></li>
                    <li class=""><a href="" data-target="#register" data-toggle="tab" aria-expanded="false" onclick="return false;">Register</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="login">
                        @{Html.RenderPartial("_LoginPartial", new LoginViewModel());}
                    </div>
                    <div class="tab-pane fade" id="externalLogin">
                        @{Html.RenderPartial("_ExternalLoginPartial", Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes());}
                    </div>
                    <div class="tab-pane fade" id="register">
                        @{Html.RenderPartial("_RegisterPartial", new RegisterViewModel());}
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <script>
        $('#userMenu').click(function (e) {
            e.stopPropagation();
        });
        $("#userMenu a").click(function (e) {
            $(e.target).tab('show');
        });
    </script>
}

<script>
    function RefreshPage(data) {
        if (data === "Success" || data.result === "Success")
            window.location.href = "@HttpContext.Current.Request.RawUrl";
        console.log(data);
    }
</script>