@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="sub-container-outer">
        <div class="sub-container-inner" style="background-image: url(~/Areas/About/images/starfield.jpg);">
            <div class="row">
                <h2>Corbin Steele</h2>
                <div class="col-sm-12 col-md-5 col-lg-4">
                    <img src="~/Areas/About/images/headshot.jpg" class="img-rounded"
                         alt="Corbin Steele image" title="Obviously not a fan of cameras" width="256" height="192" />
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-7 col-lg-8">
                    <div class="sub-container-outer">
                        <p id="intro">
                            Programmer, software designer, technology pioneer. I'm constantly seeking new ideas and
                            unique utilization of software, both old and new. I've been programming and investing
                            in self study for over six years now, yet I'm always interested and eager to learn
                            something new. It is my belief that with passion and more than a little effort, anyone
                            can make great progress in gaining the skills and knowledge necessary to achieve their goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="sub-container-outer" style="text-align:center">
        <h3>Current Skills</h3>
        <div class="sub-container-inner">
            <div class="row">
                <div class="col-xs-3">
                    <h4>C#</h4>
                    <h4>Java</h4>
                    <h4>Javascript</h4>
                    <h4>SQL</h4>
                    <h4>C++</h4>
                    <h4>JRuby</h4>
                </div>
                <div class="col-xs-4" style="border-left:3px solid #202020;">
                    <h4>HTML/CSS</h4>
                    <h4>Bootstrap</h4>
                    <h4>JQuery</h4>
                    <h4>AngularJS</h4>
                    <h4>ReactJS</h4>
                    <h4>Jekyll</h4>
                </div>
                <div class="col-xs-5" style="border-left:3px solid #202020;">
                    <h4>MVC.NET</h4>
                    <h4>Visual Studio</h4>
                    <h4>Eclipse</h4>
                    <h4>IntelliJ IDEA</h4>
                    <h4>Jenkins</h4>
                    <h4>SQL Server</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="sub-container-outer">
        <h4 style="text-align:center">Suggested Links</h4>
        <div class="sub-container-inner">
            <div class="row">
                <dl>
                    <div class="col-xs-12 col-sm-6">
                        <dt>
                            Rationality community and blog
                        </dt>
                        <a href="http://wiki.lesswrong.com/wiki/Less_Wrong/All_articles" target="_blank">
                            <span class="sub-container-link"></span>
                            <!--<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>-->
                            <dd>
                                Less Wrong Article List
                            </dd>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <dt>
                            Intuitive math explanations
                        </dt>
                        <a href="http://betterexplained.com/cheatsheet/" target="_blank">
                            <span class="sub-container-link"></span>
                            <!--<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>-->
                            <dd>
                                Better Explained
                            </dd>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <dt>
                            My favorite book
                        </dt>
                        <a href="http://www.physixfan.com/wp-content/files/GEBen.pdf" target="_blank">
                            <span class="sub-container-link"></span>
                            <!--<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>-->
                            <dd>
                                Godel, Escher, Bach PDF
                            </dd>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <dt>
                            My favorite webcomic
                        </dt>
                        <a href="http://xkcd.com/" target="_blank">
                            <span class="sub-container-link"></span>
                            <!--<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>-->
                            <dd>
                                XKCD
                            </dd>
                        </a>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>