@section Styles
{
    <!-- Needs images, font... therefore can not be part of main.css -->
    <link rel="stylesheet" href="~/Areas/Budgeter/NgApp/fonts/themify-icons/themify-icons.min.css">
    <!--<link rel="stylesheet" href="~/Areas/Budgeter/NgApp/styles/main.css">-->
<!-- TEMPORARY STYLESHEETS -->
<!--<link rel="stylesheet" href="styles/temp/custom.css">
<!-- end TEMPORARY STYLESHEETS -->
    @Styles.Render("~/bundles/Budgeter/css")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <base href="/Budgeter/">
}
@section Scripts
{
    @Scripts.Render("~/bundles/Budgeter/js")
}
@{
    ViewBag.Title = "Budgeter";
    Layout = "~/Views/Shared/_LayoutWithoutFooter.cshtml";
}

@*<div style="position:absolute; top:50px; bottom:0px; width:100%;">
    @RenderBody()
</div>*@
<div data-ng-app="app" id="app" class="app" data-custom-page data-off-canvas-nav data-ng-controller="AppCtrl" style="background-color: #060606;">
    <!--[if lt IE 9]>
        <div class="lt-ie9-bg">
            <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
            <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
    <![endif]-->
    <!--<section data-ng-include=" 'app/layout/header.html' "
             id="header"
             class="header-container "
             data-ng-class="{ 'header-fixed': admin.fixedHeader,
                              'bg-white': ['11','12','13','14','15','16','21'].indexOf(admin.skin) >= 0,
                              'bg-dark': admin.skin === '31',
                              'bg-primary': ['22','32'].indexOf(admin.skin) >= 0,
                              'bg-success': ['23','33'].indexOf(admin.skin) >= 0,
                              'bg-info-alt': ['24','34'].indexOf(admin.skin) >= 0,
                              'bg-warning': ['25','35'].indexOf(admin.skin) >= 0,
                              'bg-danger': ['26','36'].indexOf(admin.skin) >= 0
             }"></section>-->

    <div class="main-container">
        <aside data-ng-include=" '/Areas/Budgeter/NgApp/app/layout/sidebar.html' " id="nav-container" class="nav-container" data-ng-class="{ 'nav-fixed': admin.fixedSidebar,
                                    'nav-horizontal': admin.menu === 'horizontal',
                                    'nav-vertical': admin.menu === 'vertical',
                                    'bg-white': ['31','32','33','34','35','36'].indexOf(admin.skin) >= 0,
                                    'bg-dark': ['31','32','33','34','35','36'].indexOf(admin.skin) < 0
                   }"></aside>
        @RenderBody()
    </div>
</div>