@{
    ViewBag.Title = "Resume";
}
<div class="container">
    <div class="sub-container-outer">
        <div class="row">
            <div class="col-xs-12">
                <h2>Resume</h2>
                <a href="" class="btn btn-default hidden-xs" style="position:absolute; top:25px; right:40px;" disabled="disabled">
                    <i class="fa fa-cloud-download icon-before"></i>
                    Download CV
                </a>
            </div>
        </div>
        <div class="row resume-items sub-container-inner">
            <div class="col-md-3">
                <h3>
                    Professional Experience
                </h3>
            </div>
            <div class="col-md-6 col-sm-8 resume-item">
                <h4>Software Developer Intern</h4>
                <p>
                    Project leader for a User Lookup application internal to the company.
                    Worked with the full software stack, including a wide
                    range of technologies such as a ReactJS frontend, a JRuby business layer,
                    and a multithreaded Java backend designed to integrate data from multiple
                    existing services including a Riak cluster database, multiple REST APIs, and
                    even a large, unwieldy LDAP.
                    <br />
                    As an intern, I interacted closely with other interns, as well as with employees
                    on both my own Scrum team and other teams upon whose services the product relied.
                </p>
                <hr class="hidden-xs">
            </div>
            <div class="col-md-3 col-sm-4 resume-place">
                <a href="https://www.premierinc.com/"><h4>Premier, Inc.</h4></a>
                <i class="fa fa-calendar"></i> Summer 2015
                <hr class="visible-xs">
            </div>
            <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item">
                <h4>Tera-PROMISE Website Curator</h4>
                <p>
                    One of the original site curators for Tera-PROMISE version 4, a software research data repository.
                    Contributed both to the construction of the new website and the migration of research datasets from
                    Google Code over to the new 1TB repository.
                    <br />
                    The site itself was built with Jekyll and the front-end is hosted on Github as an entirely open-source project.
                </p>
            </div>
            <div class="col-md-3 col-sm-4 resume-place">
                <a href="http://openscience.us/repo/"><h4>Tera-PROMISE</h4></a>
                <i class="fa fa-calendar"></i> Fall, 2014
            </div>
        </div>

        <div class="row resume-items sub-container-inner">
            <div class="col-md-3">
                <h3>Education</h3>
            </div>
            <div class="col-md-6 col-sm-8 resume-item">
                <h4>Computer Science</h4>
                <p>
                    Took several courses within North Carolina State University's
                    Bachelor's Degree of Computer Science program.
                </p>
                <hr class="hidden-xs">
            </div>
            <div class="col-md-3 col-sm-4 resume-place">
                <h4>NCSU, Raleigh</h4>
                <i class="fa fa-calendar"></i> 2014 - 2015
                <hr class="visible-xs">
            </div>
            <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item">
                <h4>Computer Programming</h4>
                <p>
                    Took courses under the computer programming department at
                    Fayetteville Technical Community College.
                    <br />
                    54 credits completed; 39 credits toward Computer Science degree
                    GPA: 3.71
                </p>
            </div>
            <div class="col-md-3 col-sm-4 resume-place">
                <h4>Fayetteville Technical Community College</h4>
                <i class="fa fa-calendar"></i> 2012 - 2014
            </div>
        </div>
    </div>
</div>