<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 padded">
            <div style="margin: 15px;">
                CARFINDER DESCRIPTION
                <br /><br />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-xs-10">
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/CarFinder'" style="width: 100%;">
            Try It Now!
        </button>
    </div>
    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
</div>